* {
    box-sizing: border-box;
    outline: 1px solid #663d15;/**/
}

body {
    background-color: bisque;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.container {
    margin: 4% auto;
    max-width: 50%;
}

.bayan-container {
    display: flex;
    flex-direction: column;
}

.meme-item {
    color: blue;

}

.meme-check {
  /*visibility: hidden;
    appearance: none;*/
    display: none;   /*!!!!!!!!!!!!!!11111111111*/
}



.meme-title {
    display: block;                    /*????????/*/
    cursor: pointer;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.meme-joke {
    height: 0;
    display: block;  /*whyr*/
    max-width: 50%;
    margin: auto;
    transition: all 500ms ease;                   /*???????????????????????????????????*/   
}

.cross {
    height: 0;
    margin: auto 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
    transition-duration: 0.5s;                     /*speed*/   
}

.test {
    border: 5px solid saddlebrown;
    margin-top: 1em;
}



/*effects*/

.meme-item:active p {                    /*active color title*/
    color: blue;
    opacity: 0.8;
}

.meme-item:active .meme-joke {            /*active meme*/
    opacity: 0.8;
} 

.meme-item:active .cross {               /*active cross*/
    fill: blue;
    opacity: 0.8;
}



.meme-check:checked ~ .meme-joke {        /*checkbox show meme */
    min-height: 10em;
}

/*.meme-check:checked ~ div .cross {           checkbox show cross
    height: 1.5em;
    transform: rotate(45deg);
}
*/

.meme-check:checked ~ .top-container{       /*checkbox color title*/
    color: rgb(0, 0, 0);
}

.meme-check:hover ~ .meme-joke {        /*hover show meme */
    height: 10em;
}

.meme-check:hover ~ div .cross {           /*hover show cross*/
    height: 1.5em;
    transform: rotate(45deg);
}

.bayan-container:hover  .meme-item  {        /*all hover color title*/  
    color: black;
}

.bayan-container:hover  .cross {              /*allhover show cross*/ 
    height: 1.5em;
}